@model WebStore.Web.Models.ItemsViewModel


<h1>Name:</h1>
@Model.Name
<h1>Price:</h1>
@Model.Price
<h1>Seller:</h1>
@Model.Seller.UserName
<textarea>@Model.Description</textarea>
<img src="@Model.Image_Path" alt="slikatrebaovde"  />

