@model WebStore.Web.Models.AuctionViewModel

<div class="container">
 <h1> All auctions</h1>     
    <table class="table table-hover">
        @foreach (var auction in Model.Auctions)
        {
            <tr>
                <td>@auction.Id</td>
                <td >@auction.Name</td>
                <td>@auction.Price</td>
                <td >@auction.Seller.UserName</td>
                
            </tr>
            
        }
     </table>
    </div>
        <p>@Html.ActionLink("Create new auction", "Index", "CreateAuction", null, new { @class = "btn btn-default" })</p>

