@model WebStore.Web.Models.AuctionViewModel
@{ 

    
}

     
    <table class="table table-bordered">
        @foreach (var auction in Model.Auctions)
        {
            <tr>
                <td>@auction.Id</td>
                <td >@auction.Name</td>
                <td>@auction.Price</td>
                <td >@auction.Seller.UserName</td>
                <td><button class="btn-danger"></button></td>
            </tr>
            
        }
     </table>
        <p>@Html.ActionLink("Create new auction", "Index", "CreateAuction", null, new { @class = "btn btn-default" })</p>

