@model WebStore.Web.Models.AuctionViewModel

<div class="container-fluid">
 
    <div class="row">
    <div align="left" class="col-md-6">@Html.ActionLink(Model.UserName,"Index","User")</div>
    <div class="col-md-6" align="right">@Html.ActionLink(Model.Credit.ToString(), "Index", "Credit")</div>
    </div>

    <h1> All auctions</h1>
    <table class="table table-hover">
      

        @foreach (var auction in Model.Auctions)
        {
            <tr>
                <td>
                    <img src="@auction.Image_Path" alt="No picture" style="width:140px;height:140px;"/>
                </td>
                <td align="left" >@Html.ActionLink(auction.Name,"Details",new { id = auction.Id })
                <br />
               <small> € @auction.Price </small>
                <br />
                
                Seller:  @auction.BoSName
                
                <br />
                @Html.ActionLink("Buy", "Buy", new { id = auction.Id }, new {@class="btn btn-primary" })

                </td>
                
            </tr>
            
            
        }
     </table>
    </div>
        <p>@Html.ActionLink("Create new auction", "Index", "CreateAuction", null, new { @class = "btn btn-default" })</p>

